<div id='name' class="col-4 themed-grid-col"><%= user.name %></div>
<div id='email' class="col-4 themed-grid-col"><%= user.email %></div>
<div id='role_id' class="col-4 themed-grid-col"><%= user.role_id %></div>
